body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:768px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:772px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:540px;
  top:570px;
  width:200px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:540px;
  top:190px;
  width:200px;
  height:100px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:190px;
  top:164px;
  width:162px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-size:12px;
  color:#0033CC;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:180px;
  top:200px;
  width:200px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:180px;
  top:210px;
  width:200px;
  height:100px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u12 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:24px;
  top:161px;
  width:98px;
  height:16px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:123px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:123px;
}
#u16 {
  position:absolute;
  left:2px;
  top:54px;
  width:772px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:530px;
  top:580px;
  width:200px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:630px;
  top:190px;
  width:90px;
  height:70px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:392px;
  top:300px;
  width:155px;
  height:50px;
  font-size:12px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:180px;
  top:216px;
  width:580px;
  height:244px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:244px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
