body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:768px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:772px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:540px;
  top:570px;
  width:200px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:540px;
  top:190px;
  width:200px;
  height:100px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:190px;
  top:164px;
  width:126px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-size:12px;
  color:#0033CC;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:180px;
  top:200px;
  width:200px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:180px;
  top:210px;
  width:200px;
  height:100px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u12 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:24px;
  top:161px;
  width:70px;
  height:16px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:180px;
  top:190px;
  width:580px;
  height:500px;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:500px;
}
#u16 {
  position:absolute;
  left:2px;
  top:242px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:190px;
  top:220px;
  width:255px;
  height:15px;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:190px;
  top:263px;
  width:152px;
  height:15px;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:190px;
  top:288px;
  width:65px;
  height:15px;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:190px;
  top:442px;
  width:220px;
  height:39px;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:39px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:410px;
  top:260px;
  width:340px;
  height:24px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:24px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:200px;
  top:648px;
  width:100px;
  height:24px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:190px;
  top:640px;
  width:560px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:543px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:560px;
  height:1px;
}
#u28 {
  position:absolute;
  left:470px;
  top:650px;
  width:130px;
  height:24px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:24px;
  top:161px;
  width:70px;
  height:16px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:600px;
  top:215px;
  width:150px;
  height:25px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:410px;
  top:294px;
  width:340px;
  height:134px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:134px;
}
#u34 {
  position:absolute;
  left:2px;
  top:59px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:410px;
  top:442px;
  width:100px;
  height:15px;
  font-size:12px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:470px;
  top:442px;
  width:100px;
  height:15px;
  font-size:12px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:190px;
  top:481px;
  width:220px;
  height:39px;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:39px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:410px;
  top:489px;
  width:340px;
  height:24px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:24px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:620px;
  top:650px;
  width:130px;
  height:24px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:180px;
  top:190px;
  width:180px;
  height:22px;
  font-size:12px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:360px;
  top:190px;
  width:200px;
  height:22px;
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:560px;
  top:190px;
  width:200px;
  height:22px;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
